<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню ресторана</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body onload="setup()">
    <header class="header_container">
        <div class="logo_container">
            <img src="assets/logo.png">

        </div>

        <nav class="navigation">
            <div class="menu_button button"><a href="/page1">Меню</a></div>
            <div class="report_button button"><a href="/reports">Отзывы</a></div>
            <div class="about_button button"><a href="/about">О нас</a></div>
        </nav>

        <nav class="navigation">
            <p sec:authorize="!isAuthenticated()" class="login_button button"><a href="/login">Вход</a></p>
            <p sec:authorize="isAuthenticated()" class="login_button button" ><a href="/userOrders">Мои бронирования</a></p>
            <p sec:authorize="isAuthenticated()" class="login_button button" ><a href="/logout">Выйти</a></p>
        </nav>

    </header>

    <div class="favorite_container">
        <div class="favorite_card">
        </div>
    </div>

    <div class="middle_container">
        <aside class="aside_container">
            <div class="nav_container">
                <a href="/page1">Пицца</a>
                <a href="/page2">Суши</a>
                <a href="/page3">Салаты</a>
            </div>
        </aside>
        <div class="content_container">
            <div class="food_card">
                <div class="image_container">
                    <img src="assets/kalmar.jpeg" alt="" style="height: 200px; width: 200px;">
                </div>
                <div class="text_container">
                    <div class="title">Салат с кальмарами</div>
                <div class="description">Листья салата романо, руккола, кальмар, огурец, стебель сельдерея, помидоры</div>
                </div>
                <div class="lower_container">
                    <div class="price_container">
                        <div class="price">699₽</div>
                    </div>
                </div>
            </div>
            <div class="food_card">
                <div class="image_container">
                    <img src="assets/seld.jpeg" alt="" style="height: 200px; width: 200px;">
                </div>
                <div class="text_container">
                    <div class="title">Сельдь и картофель</div>
                <div class="description">Филе сельди, соленые огурцы, зелень, зеленый и красный лук и чеснок</div>
                </div>
                <div class="lower_container">
                    <div class="price_container">
                        <div class="price">599₽</div>
                    </div>

                </div>
            </div>
            <div class="food_card">
                <div class="image_container">
                    <img src="assets/chiken_chesar.jpeg" alt="" style="height: 200px; width: 200px;">
                </div>
                <div class="text_container">
                    <div class="title">Цезарь с курицей</div>
                <div class="description">Куриное филе, салат Айсберг, помидоры черри, сыр пармезан</div>
                </div>
                <div class="lower_container">
                    <div class="price_container">
                        <div class="price">449₽</div>
                    </div>

                </div>
            </div>
            <div class="food_card">
                <div class="image_container">
                    <img src="assets/cezar_krevetki.jpeg" alt="" style="height: 200px; width: 200px;">
                </div>
                <div class="text_container">
                    <div class="title">Цезарь с креветками</div>
                <div class="description">салат Айсберг, креветки королевские, помидоры, сыр пармезан</div>
                </div>
                <div class="lower_container">
                    <div class="price_container">
                        <div class="price">549₽</div>
                    </div>

                </div>
            </div>
            <div class="food_card">
                <div class="image_container">
                    <img src="assets/chiken_pechen.jpeg" alt="" style="height: 200px; width: 200px;">
                </div>
                <div class="text_container">
                    <div class="title">Салат с печенью</div>
                <div class="description">Листья салатов лолло россо, руккола и романо, куриная печень, с помидорами черри и дольками персика</div>
                </div>
                <div class="lower_container">
                    <div class="price_container">
                        <div class="price">599₽</div>
                    </div>

                </div>
            </div>
            <div class="food_card">
                <div class="image_container">
                    <img src="assets/baklazhany.jpeg" alt="" style="height: 200px; width: 200px;">
                </div>
                <div class="text_container">
                    <div class="title">Салат из баклажан</div>
                <div class="description">Теплая закуска из кусочков баклажан в кисло-сладком соусе</div>
                </div>
                <div class="lower_container">
                    <div class="price_container">
                        <div class="price">399₽</div>
                    </div>

                </div>
            </div>
            <div class="food_card">
                <div class="image_container">
                    <img src="assets/cheese.jpeg" alt="" style="height: 200px; width: 200px;">
                </div>
                <div class="text_container">
                    <div class="title">Ассорти сыров</div>
                <div class="description">Сыр Бри, сыр Камамбер, сыр Дор Блю, сыр Пармезан</div>
                </div>
                <div class="lower_container">
                    <div class="price_container">
                        <div class="price">799₽</div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer class="footer_container">
        <div class="author">Designed by Ryabikov Danila</div>
        <div class="social_net_container">
            <div class="insta"><a href="https://www.instagram.com/ryb_danil/"><img src="assets/insta.png" alt=""></a></div>
            <div class="vk"><a href="https://vk.com/id505964334"><img src="assets/vk.png" alt=""></a></div>
        </div>
    </footer>
    

</body>
</html>
