<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Меню ресторана</title>
    <link rel="shortcut icon" type="image/png" href="assets/icon.png">
</head>
<body>
    <header class="header_container">
        <div class="logo_container">
            <img src="assets/logo.png">

        </div>
        <nav class="navigation">
            <div class="menu_button button"><a href="/page1">Меню</a></div>
            <div class="report_button button"><a href="/reports">Отзывы</a></div>
            <div class="about_button button"><a href="/about">О нас</a></div>
        </nav>

        <nav class="navigation">
            <p sec:authorize="!isAuthenticated()" class="login_button button"><a href="/login">Вход</a></p>
            <p sec:authorize="isAuthenticated()" class="login_button button" ><a href="/userOrders">Мои бронирования</a></p>
            <p sec:authorize="isAuthenticated()" class="login_button button" ><a href="/logout">Выйти</a></p>
        </nav>

    </header>

    <div class="container">
        <div class="left_image">
            <img src="assets/left_image.png" alt="">
        </div>
        <main>
            <h1>Отзывы</h1>
            <p>Пожалуйста, не пожалейте 3 минуты своего времени. Ваш отзыв действительно важен и для нас и для тех, кто собирается сделать у нас заказ впервые. Нам он поможет понять, что нужно улучшить в своей работе, остальным – сделать правильный выбор</p>
            <div class="report_container">
                <div class="report report_left">
                    <div class="left_container">
                        <div class="name">Карина</div>
                        <div class="text">Сидящие на диетах поклонники пресно-паровой здоровой пищи - вам явно не сюда!) А всем гурманам-ценителям ярких вкусов, любителям экзотической и при этом невероятно вкусной еды - очень рекомендую! Здесь просто непристойно вкусно</div>
                    </div>
                    <div class="right_container">
                        <div class="rating">
                            <img src="assets/five_star.png" style="width: 100px;">
                        </div>
                        <div class="text_raiting">Отлично</div>
                    </div>
                </div>
                <div class="report report_right">
                    <div class="right_container">
                        <div class="rating">
                            <img src="assets/four_star.png" style="width: 100px;">
                        </div>
                        <div class="text_raiting">Хорошо</div>
                    </div>
                    <div class="left_container">
                        <div class="name">Татьяна</div>
                        <div class="text">Очень довольны качеством продуктов, приготовления блюд, скоростью доставки., вежливостью,  профессиональностью коллектива. Надеемся быть с вами и далее,.
                            Татьяна, Олег, с уважением.
                            
                            </div>
                    </div>
                </div>
                <div class="report report_left">
                    <div class="left_container">
                        <div class="name">Виталий</div>
                        <div class="text">Такого огромного и разнообразного меню нет в Москве ни где! Очень любим это заведение! Все было на высоте! Будем всем советовать ваше заведение и не раз придем сами!</div>
                    </div>
                    <div class="right_container">
                        <div class="rating">
                            <img src="assets/five_star.png" style="width: 100px;">
                        </div>
                        <div class="text_raiting">Отлично</div>
                    </div>
                </div>
                <div class="report report_right">
                    <div class="right_container">
                        <div class="rating">
                            <img src="assets/three_star.png" style="width: 100px;">
                        </div>
                        <div class="text_raiting">Нормально</div>
                    </div>
                    <div class="left_container">
                        
                        <div class="name">Ольга</div>
                        <div class="text">Слишком сильное освещение. В пятничный или субботний вечер хочется расслабиться или зажечь, а не чувствовать себя как в столовке. Нужно освещение сделать индивидуальным для каждого стола</div>
                    </div>
                </div>
                <div class="report report_left">
                    <div class="left_container">
                        <div class="name">Иван</div>
                        <div class="text">Отмечали день рождения в кафе. Все блюда очень понравились, очень вкусно и необычно!! Очень вкусные были суши!!! Спасибо поварам-знатокам своего дела. Да, и цены - очень разумные</div>
                    </div>
                    <div class="right_container">
                        <div class="rating">
                            <img src="assets/four_star.png" style="width: 100px;">
                        </div>
                        <div class="text_raiting">Хорошо</div>
                    </div>
                </div>
                <div class="report report_right">
                    <div class="right_container">
                        <div class="rating">
                            <img src="assets/five_star.png" style="width: 100px;">
                        </div>
                        <div class="text_raiting">Отлично</div>
                    </div>
                    <div class="left_container">
                        <div class="name">Елена</div>
                        <div class="text">Ходим в ваше заведение больше года. Часто заходим в будни отдохнуть от работы, перекусить. Отличный выбор блюд из нескольких меню с разных континентов. Готовят вкусно. Без претензии на высокую кухню, просто вкусно и красиво</div>
                    </div>
                </div>
                <div class="report report_left">
                    <div class="left_container">
                        <div class="name">Александра</div>
                        <div class="text">Вежливые официанты, приятная атмосфера и, главное, вкуснейшие блюда. Очень уютное мето, безумно вкусные блюда. Была в кофе-ресторан не один раз и буду приходить</div>
                    </div>
                    <div class="right_container">
                        <div class="rating">
                            <img src="assets/five_star.png" style="width: 100px;">
                        </div>
                        <div class="text_raiting">Отлично</div>
                    </div>
                </div>
                <div class="report report_right">
                    <div class="right_container">
                        <div class="rating">
                            <img src="assets/five_star.png" style="width: 100px;">
                        </div>
                        <div class="text_raiting">Отлично</div>
                    </div>
                    <div class="left_container">
                        <div class="name">Олег</div>
                        <div class="text">Добрый день. Был у вас в первый раз, и вот впечатление: Вежливые и приятные сотрудники, которых не нужно ловить по залу, при этом они не навязчивы. Красивый зал, и вкусная еда. Особенно понравилось горячее! Специально пошел в этот ресторан, и не разочаровался</div>
                    </div>
                </div>
                <div class="report report_left">
                    <div class="left_container">
                        <div class="name">Анастасия</div>
                        <div class="text">Регулярно посещаем с мужем Ваше кафе, каждый раз остаемся очень довольными и сытыми!!! Ценовая политика и обслуживание на высоте! Спасибо</div>
                    </div>
                    <div class="right_container">
                        <div class="rating">
                            <img src="assets/five_star.png" style="width: 100px;">
                        </div>
                        <div class="text_raiting">Отлично</div>
                    </div>
                </div>
                <div class="report report_right">
                    <div class="right_container">
                        <div class="rating">
                            <img src="assets/four_star.png" style="width: 100px;">
                        </div>
                        <div class="text_raiting">Хорошо</div>
                    </div>
                    <div class="left_container">
                        <div class="name">Антон</div>
                        <div class="text">Заказали праздничный ужин в офис. Приготовили и доставили быстро. Еда очень вкусная и сытная. Огромное спасибо консультанту Гуле. Будем заказывать еще</div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer class="footer_container">
        <div class="author">Designed by Ryabikov Danila</div>
        <div class="social_net_container">
            <div class="insta"><a href="https://www.instagram.com/ryb_danil/"><img src="assets/insta.png" alt=""></a></div>
            <div class="vk"><a href="https://vk.com/id505964334"><img src="assets/vk.png" alt=""></a></div>
        </div>
    </footer>
    

</body>
</html>
