<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Меню ресторана</title>
    <link rel="shortcut icon" type="image/png" href="assets/icon.png">
</head>
<body>
    <header class="header_container">
        <div class="logo_container">
            <img src="assets/logo.png">

        </div>
        <nav class="navigation">
            <div class="menu_button button"><a href="/page1">Меню</a></div>
            <div class="report_button button"><a href="/reports">Отзывы</a></div>
            <div class="about_button button"><a href="/about">О нас</a></div>
        </nav>


        <nav class="navigation">
            <p sec:authorize="!isAuthenticated()" class="login_button button"><a href="/login">Вход</a></p>
            <p sec:authorize="isAuthenticated()" class="login_button button" ><a href="/userOrders">Мои бронирования</a></p>
            <p sec:authorize="isAuthenticated()" class="login_button button" ><a href="/logout">Выйти</a></p>
        </nav>

    </header>
    <h1>Наши новости</h1>
    <div class="news_container">
        <div class="news">
            <img src="assets/singer.webp" alt="">
            <div class="text_news">Живое выступление музыкантов в пятницу и субботу по вечерам</div>
        </div>
        <div class="news">
            <img src="assets/family.webp" alt="">
            <div class="text_news">Скидки для детей с 12:00 до 17:00</div>
        </div>
        <div class="news">
            <img src="assets/pizza (1).jpeg" alt="">
            <div class="text_news">Скидка на первый заказ пиццы до 10%</div>
        </div>
    </div>

    <main>
        <h1>Контакты</h1>

        <div class="main_container">
                <div class="work_time">
                    <div class="title">
                        Время работы
                    </div>
                    <div class="desc">
                        Понедельник — Воскресенье <br>
                        С 11:00 до 23:00
                    </div>
                </div>
                <div class="social_container">
                    <div class="title">
                        Связь с нами
                    </div>
                    <div class="desc">
                        Тел: +7 (499) 737-70-70 <br>
                        E-mail: ourCafe@gmail.com
                    </div>
                    
                </div>
                <div class="address">
                    <div class="title">Адрес</div>
                    <div class="desc">
                        <address>
                            Москва, проспект Вернадского, д. 78<br>
                        </address>
                    </div>
                </div>
        </div>
    </main>
    
    <footer class="footer_container">
        <div class="author">Designed by Ryabikov Danila</div>
        <div class="social_net_container">
            <div class="insta"><a href="https://www.instagram.com/ryb_danil/"><img src="assets/insta.png" alt=""></a></div>
            <div class="vk"><a href="https://vk.com/id505964334"><img src="assets/vk.png" alt=""></a></div>
        </div>
    </footer>

</body>
</html>
